<template>

    <div>
        <BackButton></BackButton>
        <h1>Evaluatie</h1>
        <main v-for="group in groups" v-bind:key="group.id">
            <Card v-bind:title="group.name"
                  v-bind:imgurl="logo" v-bind:url="`/administratie/evaluatie/${group.id}/opdracht`">
            </Card>
        </main>
    </div>

</template>

<script>
    import Card from "@/components/Card"
    import logo from "@/assets/images/logoZonderTekst.png"
    import BackButton from "@/components/BackButton.vue"
    import {getGroups} from "@/api";

    export default {
        name: "Evaluation",
        data() {
            return {
                logo,
                groups: [],
            }
        },
        components: {
            Card,
            BackButton,
        },
        methods: {
            async load() {
                this.groups = await getGroups();
            },
        },
        mounted() {
            return this.load();
        }
    }
</script>

<style scoped>

</style>