<template>
    <div>
        <BackButton></BackButton>
        <router-link :to="`/administratie/evaluatie/${group_id}/start`">
            <a id="start">Start evaluatie</a>
        </router-link>
        <h1>Evaluatie</h1>


        <div id="content">
            <div id="leden">
                <h2>Aanwezigheden leden</h2>
                <ul v-for="user in users" v-bind:key="user.id">
                    <li v-bind:key="user.id" v-on:click="user.is_present = !user.is_present"
                        v-bind:class="{ green: user.is_present, red: !user.is_present}">
                        {{user.name}}
                    </li>
                    <!--<li class="red">Quenicia Barbosa</li>-->
                    <!--<li>Joshua Bergerie</li>-->
                    <!--<li>Camille Boudrez</li>-->
                    <!--<li>Shakira Brondeel</li>-->
                    <!--<li>Dolores Brondeel</li>-->
                    <!--<li>Arne Bruggeman</li>-->
                    <!--<li>Lieze Bruggeman</li>-->
                    <!--<li>Estée Brutyn</li>-->
                    <!--<li>Bent Buster</li>-->
                    <!--<li>Nand Buster</li>-->
                </ul>
            </div>

            <div id="opdrachten">
                <h2>Opdrachten</h2>

                <h3>Opdracht 1</h3>
                <p>Je springt zelfstandig in het water en verplaatst je op eender welke manier 3 meter onder water
                    voort.</p>

                <h3>Opdracht 2</h3>
                <p>Je springt zelfstandig in het water en draait je zelfstandig op je rug. Je oren liggen in het
                    water.</p>

                <h3>Opdracht 3</h3>
                <p>Je stoot af van de muur met je armen naast je lichaam en zwemt 5m zelfstandig benen rugcrawl.</p>

                <h3>Opdracht 4</h3>
                <p>Je stoot af van de muur met je armen naast je lichaam en zwemt 12,5m zelfstandig benen rugcrawl.</p>

                <h3>Opdracht 5</h3>
                <p>Je hebt de basisbeginselen van je armslag onder de knie op het droge en probeert deze toe te passen
                    in
                    het water. Je armen bewegingen molenwieken, dus niet in afslag.</p>
                <h3>Opdracht 6</h3>
                <p>Je drijft op het water en kan zelfstandig een speeltje opduiken dat 1m onder water licht</p>

                <h3>Opdracht 7</h3>
                <p>Je kan onderwater je voor en achternaam volledig uitspreken</p>

                <h3>Opdracht 8</h3>
                <p>Je kan met een plank benen crawl op de buik tot aan de overkant van het bad.</p>
            </div>
        </div>

    </div>
</template>

<script>
    import BackButton from "@/components/BackButton";
    import {getUsersOfGroup} from "@/api";

    export default {
        name: "Opdracht",
        props: ['group_id'],
        data() {
            return {
                users: [],
            }
        },
        components: {
            BackButton
        },
        methods: {
            async load() {
                let users = await getUsersOfGroup(this.group_id);
                this.users = users.map(user => {
                    return {
                        ...user,
                        is_present: user.is_present = true
                    }
                })
            }
        },
        mounted() {
            return this.load();
        }

    }
</script>

<style scoped lang="scss" src="../../../assets/css/task.scss"></style>