<template>

  <div id="groups">
      <BackButton></BackButton>
    <h1>Groepen</h1>   
    <div v-for="group in groups" v-bind:key="group.id">
      <Group v-bind:group_id="group.id"></Group>
    </div>
  </div>

</template>
<script>
import { getGroups } from '@/api';
import BackButton from '@/components/BackButton.vue';
import Group from '@/components/Group.vue'


export default {
  components: {
    BackButton,
    Group
  },
  data() {
    return {
      groups: [],
     hidden: true
    };
  },
  
  methods: {
    async load() {
      this.groups = await getGroups();
    },
    details(group_id) {
      this.$router.push('/administratie/groepen/' + group_id);
    }
  },
  mounted() {
    return this.load();
  }
};
</script>

