
#aanwezigheden{
    #aanwezigheidsblock{
        border-radius:10px;
        margin-top:4vh;
        background:white;
        width: 30vw;
        margin-right:auto;
        margin-left:auto;
        
        ol{
            padding-top:2vh;
            list-style-type: decimal;
            li{
                margin-left:4vw;
                margin-bottom:1vh;
                button{
                    float:right;
                    width:10vw;
                    border:none;
                    color:white;
                    margin-right:1vw;
                }
            }
        }

    }
}
#groupmemberlist{
    overflow-y:scroll;
    height:40vh;
}
input[type="submit"]{
    margin-top:2vh;
    width:20vw;
    margin-left:5vw;
    margin-bottom:4vh;
    background-color:rgb(52, 134, 229);
    border:none;
    color:white;
    border-radius:10px;
    height:4vh;
}

#afmeldingen{
    border-radius:10px;
    background:white;
    width:40vw;
    margin-right:auto;
    margin-left:auto;
    margin-top:2vh;
    height:20vh;
    h2{
        text-align:center;
        color:rgb(52, 134, 229);
        font-weight:bold;
        padding-top:1vh;
        padding-bottom:1vh;
    }
    ul
    {
        margin-left:4vw;
    }

}
.bold{
    font-weight:bold;
}
.shadow {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  }


.green {
    background-color: green;
}
.red {
    background-color: red;
}

@media screen and (max-width: 768px) {
    #aanwezigheden{
        #aanwezigheidsblock{
                width:60vw;
                ol{
                    li{
                        button{
                            width:20vw;
                            height:2.2vh;
                        }
                    }
                }
        }
    }
    input[type="submit"]{
        width:45vw;
    }
    #afmeldingen{
        width:80vw;
    }
}
@media screen and (max-width: 482px) {
    #aanwezigheden{
        #aanwezigheidsblock{
                width:80vw;
        }}
}
@media screen and (max-width: 308px) {
    #aanwezigheden{
        #aanwezigheidsblock{
                width:95vw;
                ol{
                    li{
                        button{
                            width:30vw;
                            height:2.2vh;
                        }
                    }
                }
        }
    }
    input[type="submit"]{
        width:80vw;
    }
    #afmeldingen{
        width:95vw;
    }
}
@media screen and (max-width: 1102px) {
    #aanwezigheden{
        #aanwezigheidsblock{
                width:60vw;
                ol{
                    li{
                        button{
                            width:30vw;
                            height:2.2vh;
                        }
                    }
                }
        }
    }
    input[type="submit"]{
        width:45vw;
    }
    #afmeldingen{
        width:95vw;
    }
}