
.userlists{
    width:60vw;
    margin-right:auto;
    margin-left:auto;
    margin-top:5vh;
    border:2px solid rgb(94, 148, 209);
    .title{
        background:rgb(245, 245, 245);
        height:6vh;
        line-height:6vh;
        ul{
            li:first-child{
                margin-left:4vh;
                font-weight:bold;
            }
            li{
                display:inline-block;
                margin-right:5vh;
                span{
                    text-decoration: underline;
                    margin-right:2vh;
                    
                }
                span:hover{
                   cursor:pointer 
                }
                button {
                    margin-right:2vh;
                    background:none;
                    border:3px solid rgb(52, 134, 229);
                    width: 5vw;
                }
                button:hover{
                    background:rgb(52, 134, 229);
                    color:white;
                }
            }
           
        }
    }
    .users{
        background:white;
        height:7vh;
        padding-top:10px;
        ul{
            li{
                
                display:inline;
                margin-left:5vw;
            }
        }
    }
}
.left{
    float:left;
}
.right{
    float:right;
}



@media screen and (max-width: 768px) {
    .userlists{
        width:80vw;
        
        .users{
            
            padding-top:10px;
            height:5vh;
            ul{
                li{
                    margin-left:3vw;
                }
            }
        }
    }
}
@media screen and (max-width: 489px) {
    .userlists{
        width:100vw;
        .title{
            ul{
                li{
                    margin-right:1vw;
                    button{
                        width:10vw;
                    }
                }
            }
        }
        .users{
            
            padding-top:10px;
            height:7vh;
            ul{
                li{
                    margin-left:3vw;
                }
            }
        }
    }
}

/////////////////////////////////////
