$blue: rgb(108, 168, 244);
$bluehex: #6ca7f4;
h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 30vh;
}
form {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top:-35vh;
  label {
    display: block;
    color: white;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
  }
  input {
    margin-bottom: 1vh;
    display: block;

  }
  input[type='password'],
  input[type='email'] {
    height: 4vh;
    opacity: 0.8;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    // background-color:rgb(108,168,244);
  }
  input[type='Email'] {
    //background: url($assets + 'images/mail.png');
  }
  input[type='submit'] {
    height: 5vh;
    border-radius: 25px;
    border: none;
    background: white;
    color: $blue;
    font-weight: bold;
    margin-top: 2vh;
  }
}

#login {
  width: 20vw;
  margin-right: auto;
  margin-left: auto;
  height:100vh;
}
.shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 768px) {
  input {
    width: 30vw;
    margin-left:10vw;
  }
  label{
    margin-left:-10vw;
  }
  #login{
  
    width:30vw;
  }
  body{
    background-repeat:repeat ;
  }
  h1{
    margin-top:40vw;
  }
  form{
    margin-left:10vw;
    margin-top:-35vh;
  }
 input[type="email"], input[type="password"], input[type="submit"]{
   width:50vw;
 }
}
@media screen and (max-width: 1024px) {
  input {
    width:40vw;
    margin-left:-10vw;
  }
  label{
    margin-left:-10vw;
  }
}
