article{
    width:50vw;
    margin-top:5vh;
    margin-right:auto;
    margin-left:auto;
    h2{
      font-size:1.2rem; 
      text-decoration: underline; 
      margin-bottom:3vh;
      color:white;
      font-weight:bold;
    }
    p{
        width:40vw;
        color:white;
    }
    span{
      font-size:0.7rem;
      color:rgb(173, 173, 173);
    }
}
h1{
  margin-top: -7vh;
}
@media screen and (max-width: 768px) {
  h1{
    margin-top:0vh;
  }
  article{
    margin-left:3vw;
    width:95vw;
    font-size:1.3rem;
  }
  
}

@media screen and (max-width: 768px) {
  article{
    margin-left:15vw;
    width:90vw;
    p{
      width:70vw;
    }
  }
}