p {
  font-size: 1.2rem;
  margin-left: 1vw;
  font-weight: bold;
}

#notification {
  text-align: center;
  margin: 2vw auto 0 auto;
  background-color: navajowhite;
  border: solid 5px darkorange;
  display: flex;
  width: 50vw;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 550px) {
  #notification {
    width: 80vw;
  }
}