h2 {
  font-size: 2rem;
  margin-bottom: 3vh;
  color: white;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 1vh;
  font-weight: bold;
  text-decoration: underline;
}

p {
  margin-bottom: 1.5vh;
  font-size: 1.1rem;
}

li {
  font-size: 1.2rem;
  text-align: center;
  border: 5px solid black;
  margin-bottom: 0.2vh;
  padding: 2vh;
}

#opdrachten {
  width: 40vw;
}

#content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5vh;
  color: white;
}

#start {
  position: absolute;
  right: 3vw;
  top: 2vh;
  font-size: 1.5rem;
  background-color: white;
  padding: 10px;
  border: solid 3px black;
  cursor: pointer;
  color: black;
}
@media screen and (max-width: 650px) {
  #leden {
    flex-basis: 70%;
  }

  #opdrachten {
    width: 90vw;
    margin-top: 2vh;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {

}