h1{
    margin-bottom: 4vh;
}
.training{
    width:60vw;
    background:rgb(245, 245, 245);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left:20vw;
    margin-top:5vh;
    height:6vh;
    line-height:6vh;
  
    p{
      padding-left:2vh;
    }
    button{
        background:none;
        border:3px solid rgb(52, 134, 229); 
        color:green;
     }
   
}
.button {
    background:green;
}