<template>
    <div id="Administratie">
    <BackButton></BackButton>
    <h1> Administratie</h1>
        <div id="admincards">
            <Card title="Evaluatie" v-bind:imgurl="evaluation" url="/administratie/evaluatie"></Card>
            <Card title="Ledenlijst" v-bind:imgurl="leden" url="administratie/groepen"></Card>
            <Card title="statistieken" v-bind:imgurl="statistic" url="#"></Card>
            <Card title="Aanwezigheden" v-bind:imgurl="immigration" url="administratie/trainingen"></Card>
            <Card title="Planning" v-bind:imgurl="calendar" url="#"></Card>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
import Card from '@/components/Card.vue'
import BackButton from '@/components/BackButton.vue';
import leden from '@/assets/images/leden.png'
import statistic from  '@/assets/images/statistics.png'
import immigration from  '@/assets/images/immigration.png'
import calendar from '@/assets/images/calendar.png'
import evaluation from '@/assets/images/evaluation.svg'


export default {
    name: 'Administratie',
    data() {
        return {
            leden, statistic, immigration, calendar, evaluation
        }
    },
    components: {
        Card, BackButton
    },
};
</script>

<style  lang="scss" src="@/assets/css/administration.scss" scoped></style>
