<template>
    <div>
        <notification></notification>
        <main>
            <Card title="Administratie" v-bind:imgurl="administration" url="/administratie"></Card>
            <Card title="Rapport" v-bind:imgurl="evaluation" url="/rapport"></Card>
            <Card title="Trainingen" v-bind:imgurl="training" url="/trainingen"></Card>
            <Card title="Nieuws" v-bind:imgurl="news" url="/nieuws"></Card>
            <Card title="Instellingen" v-bind:imgurl="settings" url="/instellingen"></Card>
            <Card title="Uitloggen" v-bind:imgurl="logout" url="/logout"></Card>
        </main>
    </div>
</template>

<script>
    import Card from '@/components/Card.vue';
    import administration from '../assets/images/administration.svg'
    import evaluation from '../assets/images/evaluation.svg'
    import training from '../assets/images/training.svg'
    import news from '../assets/images/news.svg'
    import settings from '../assets/images/settings.svg'
    import logout from '../assets/images/logout.svg'
    import Notification from '../components/Notification.vue'

    export default {
        name: "Home",
        data() {
            return {
                administration,
                evaluation,
                training,
                news,
                settings,
                logout
            }
        },
        components: {
            Card,
            Notification
        },
    }
</script>

<style scoped lang="scss" src="../assets/css/home.scss"></style>

