<template>
  <div class="login">
    <h1>Inloggen</h1>
    <form id="login" v-on:submit.prevent="submit">
      <label> Email </label>
      <input v-model="email" type="email" id="mail" name="mail" class="shadow" required="required" />
      <label> Wachtwoord </label>
      <input v-model="password" type="password" id="password" class="shadow" name="password" required="required" />
      <input type="submit" class="effect2" name="send" id="send" value="INLOGGEN" />
      <div v-if="errorMessage" class="error">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</template>

<script>
import state from '@/state';
import { login } from '@/api';
import { redirectTo } from '@/router';

export default {
  name: 'Login',
  data() {
    return {
      email: '',
      password: '',
      errorMessage: '',
    };
  },
  methods: {
    async submit() {
      this.errorMessage = ''; // Clear previous error message.
      if (!this.email || !this.password) {
        this.errorMessage = 'Email en wachtwoord is verplicht.';
        return;
      }
      let response = await login({
        email: this.email,
        password: this.password,
      }); // Send credentials to server.
      if (!response.token) {
        // If there is no token, we consider the credentials to be invalid.
        this.errorMessage = 'Fout email en/of wachtwoord!';
        return;
      }
      // Save token and user id.
      state.token = response.token;
      state.id = response.user_id;
      console.log('Login success!');
      await state.save();
      this.$router.push(redirectTo);
    },
  },
};
</script>

<style scoped lang="scss" src="@/assets/css/login.scss"></style>
