<template>
    <div id="Nieuws">
    <BackButton></BackButton>
    <h1> Nieuws</h1>
    <div  v-for="newss in news" v-bind:key="newss.id">
        <NewsArticle v-bind:title="newss.title" v-bind:content="newss.content" v-bind:date="newss.created_at"></NewsArticle>
    </div>
    </div>
</template>

<script>
// @ is an alias to /src
import NewsArticle from '@/components/NewsArticle.vue'
import BackButton from '@/components/BackButton.vue'
import { getNews } from '@/api';

export default {
    name: 'News',
    components: {
        NewsArticle, BackButton
    },
    data() {
       return { news: []}
        
    },
    methods: {
        async load(){
            this.news = await getNews();
            console.log(this.news)
        }
        
    },
    mounted() {
        this.load()
        
    }

};
</script>

<style  lang="scss" src="@/assets/css/nieuws.scss"></style>
