<template>
    <div id="aanwezigheden">
        <BackButton></BackButton>
        <h1>Aanwezigheden</h1>
        <div id="aanwezigheidsblock">
            <form v-on:submit.prevent="submit">
                <div id="groupmemberlist">
                    <ol>
                        <li v-for="user in users" v-bind:key="user.id">
                            <label v-bind:for="user.id">{{ user.name }}</label>
                            <button type="button" v-on:click="user.is_present = !user.is_present" v-bind:class="{ green: user.is_present, red: !user.is_present }">{{ user.is_present ? 'Aanwezig' : 'Afwezig' }}</button>
                        </li>
                    </ol>
                </div>
                <input type="submit" class="shadow" value="Opslaan" />
            </form>
        </div>
        <div id="afmeldingen">
        <h2>Vooraf afgemelde leden</h2>
            <ul>
                <li v-for="attendance in notAttending" v-bind:key="attendance.id">
                    <p>Naam: <span class="bold"> {{ attendance.name }}</span></p>
                    <p>Reden: {{ attendance.reason }}</p>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
import { getAttendances, getTraining, getUsersOfGroup, storeAttendances } from '@/api';
import BackButton from '@/components/BackButton.vue';

export default {
    props: ['training_id'],
    data() {
        return {
            users: [],
            previousAttendances: [],
            notAttending: []
        };
    },
      components: {
         BackButton
    },
    methods: {
        async load() {
            let training = await getTraining(this.training_id);
            let users = await getUsersOfGroup(training.group_id);
            this.previousAttendances = await getAttendances(this.training_id); // TODO: Attendances should be sent with the training.
            
            this.users = users.map(user => {
                let p = this.previousAttendances.find(a => a.id == user.id);
                return {
                    ...user,
                    is_present: p ? p.is_present : true // Set value if this has been previously filled
                };
            });
            this.notAttending = this.previousAttendances.filter(a => a.reason); // Filter not attending users.
        },
        async submit() {
            let response = await storeAttendances(
                this.training_id,
                this.users.map(user => {
                    return {
                        user_id: user.id,
                        is_present: user.is_present
                    };
                })
            );
            this.$router.back();
        }
    },
    mounted() {
        return this.load();
    }
};
</script>

<style scoped lang="scss" src="@/assets/css/attendances.scss"></style>

