<template>
    <div>
        <BackButton></BackButton>
        <h1>Trainingen</h1>
        <div v-for="training in trainings" v-bind:key="training.id">
            <Training v-bind:training="training"></Training>
        </div>
    </div>
</template>
<script>
import Training from '@/components/Training.vue';
import { getTrainings } from '@/api';
import BackButton from '@/components/BackButton.vue';


export default {
     components: {
         BackButton, Training
    },
    data() {
        return {
            trainings: []
        };
    },
  
    methods: {
        async load() {
            this.trainings = await getTrainings();
        }
    },
    mounted() {
        return this.load();
    }
};
</script>
<style scoped lang="scss" src="@/assets/css/trainings.scss"></style>
