<template>
  <a v-on:click.prevent="back" href="#"><img src="@/assets/images/previous.png" id="back" alt="back" title="back"/></a>
</template>
<script>
export default {
  methods: {
    back() {
      this.$router.back();
    }
  }
};
</script>
