<template>

    <div class="card">
        <router-link v-bind:to="url">
        <div class="cardtop">
            <p> {{ title }} </p>
        </div>
        <div class="carddown">
            <img v-bind:src="imgurl" title=" leden" alt="leden">
        </div>
        </router-link>
    </div>

</template>

<script>
export default {
    name: 'HelloWorld',
    props: {
        title: String,
        imgurl: String,
        url: String,
    },
};
</script>
