<template>
    <div class="userlists">
        <div class="title">
            <ul>
                <li>{{ name }}</li>
                <li>trainer(s): {{ trainers.map(trainer => trainer.name).join(',') }}</li>
                <li class="right"><button>edit</button></li>
                <li class="right"><span v-on:click="hidden = !hidden"> detail </span></li>
            </ul>
        </div>
        <div v-if="hidden" class="users">
            <ul>
                <li v-for="user in users" v-bind:key="user.id">{{ user.name }}</li>
            </ul>
        </div>
    </div>
</template>

<script>
import { getGroup } from '@/api';

export default {
    name: 'Group',
    props: {
        group_id: Number
    },
    data() {
        return {
            name: '',
            trainers: [],
            users: [],
            hidden: false
        };
    },
    methods:{
      async load(){
        const group = await getGroup(this.group_id);
        this.name = group.name;
        this.users = group.users.filter(user=>!user.is_trainer);
        this.trainers = group.users.filter(user=>user.is_trainer);
      }
    },
    mounted() {
        return this.load();
    }
};
</script>
<style lang="scss" src="@/assets/css/groups.scss" scoped></style>
