<template>
 <article>
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <span> {{date}} </span>
    </article>
</template>

<script>
export default {
    name: 'article',
    props: {
        title: String,
        content: String,
        date: String
    },
};
</script>
