<template>
    <div id="notification">
        <img src="../assets/images/warning.svg">
        <p>De training van vrijdag 15/12 is geannuleerd</p>
    </div>
</template>

<script>
    export default {
        name: "Notification"
    }
</script>

<style scoped lang="scss" src="../assets/css/notification.scss"></style>