<template>
    <div class="training">
        <p>{{ `${training.start_time} : ${training.end_time}` }}</p>
        <p>{{ training.group.name }}</p>
        <button class="button" v-on:click="show">Aanwezigheden</button>
    </div>
</template>
<script>
import { getTraining } from '@/api';

export default {
    props: {
        training_id: Number,
        training: Object
    },
    methods: {
        show() {
            this.$router.push(`trainingen/${this.training.id}/aanwezigheden`);
        }
    }
};
</script>
<style lang="scss" src="@/assets/css/trainingpage.scss" scoped></style>
