<template>
  <div id="app">
    <!--  <div id="nav">
            <router-link to="/">Home</router-link> |
            <router-link to="/about">About</router-link>
        </div>-->
    <router-view />
  </div>
</template>
<style lang="scss">
    @import '@/assets/css/reset.scss';
    $assets: '~@/assets/';

    // main backround
    body {
      background-image: url($assets+ 'images/background.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;

      main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .hidden {
        display: none;
      }

      // titles
      h1 {
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 2.5rem;
        margin-top: 3vh;
      }

      /*card*/
      a {
        text-decoration: none;
      }

      .card {
        border-radius: 10px;
        padding: 10px;
        margin: 6vh 3.5vw 0 3.5vw;
        width: 19vw;
        background: white;
        text-align: center;

        .carddown {
          img {
            width: 13vw;
          }
        }

        .cardtop {
          p {
            font-size: 2rem;
            font-weight: bold;
            font-variant: small-caps;
            color: rgb(52, 134, 229);
            margin-bottom: 1vh;
          }
        }
      }

      /*end card*/

      /***********/
      /* back button**/
      /**************/

      #back {
        margin-top: 2vh;
        margin-left: 2vh;
        width: 5vw;
      }

      .cardtop {
        p {
          font-size: 2rem;
          font-weight: bold;
          font-variant: small-caps;
          color: rgb(52, 134, 229);
          margin-bottom: 1vh;
        }
      }

      /*end card*/

      /***********/
      /* back button**/
      /**************/

      #back {
        margin-top: 2vh;
        margin-left: 2vh;
        width: 5vw;
      }

      /**************************/
      /*******end back button***/
      /***********************/

      #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        // text-align: center;
        color: #2c3e50;
      }

      #nav {
        padding: 30px;

        a {
          font-weight: bold;
          color: #2c3e50;

          &.router-link-exact-active {
            color: #42b983;
          }
        }
      }

      .green {
        background-color: green;
      }
      .red {
        background-color: red;
      }

      @media screen and (max-width: 1200px) {
        .card .cardtop p {
          font-size: 1.4rem;
        }
      }

      @media screen and (max-width: 768px) {
        .error {
          width: 50vw;
        }
        .card {
          width: 60vw;
          .carddown {
            img {
              width: 30vw;
            }
          }
        }

        #back {
          width: 10vw;
        }
      }
    }
</style>
